header {
  display: flex;
  flex-direction: column;
  border-bottom: var(--divider);

  .toolbar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-secondary-color);

    .search-input {
      border: none;
      background-color: var(--background-secondary-color);
      color: inherit;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border-radius: 0.5rem;
    }
  }

  .page-title {
    display: flex;
    padding: 1rem;
    color: var(--background-primary-color);
    background-color: var(--primary-color);
  }
}

@media (max-width: 768px) {
  header {
    .toolbar {
      display: none;
    }
  }
}