@font-face {
  font-family: "Jost";
  src: url("assets/fonts/jost-light-normal.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("assets/fonts/jost-regular-normal.woff2");
  font-weight: 400;
  font-style: norml;
}

@font-face {
  font-family: "Jost";
  src: url("assets/fonts/jost-bold-normal.woff2");
  font-weight: 700;
  font-style: normal;
}
